- name: install packages
  apt:
    name:
    - at
    - avahi-daemon
    - nginx
    - php7.3-fpm
    - php-pear
    - python-dev
    - python-setuptools
    - wiringpi
    state: present
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: enabled services
  systemd:
    name: "{{ item }}"
    enabled: yes
  with_items:
    - atd
    - avahi-daemon
    - nginx
    - php7.3-fpm
  become: yes

- name: install python modules
  pip:
    name:
      - tweepy
      - passlib
    state: present
  become: yes
# passlib for ansible basic auth module
