[Unit]
Description = Airpippi API server
Requires=network-online.target
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/opt/airpippi
ExecStart = gunicorn -b 0.0.0.0:{{ airpippi_api_port | default(8000) }} app:app
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target