server {
	server_name _;
	listen 80;

	index index.html;

	location / {
{% if airpippi_user is defined and airpippi_pass is defined %}
		auth_basic "Restricted";
		auth_basic_user_file /etc/nginx/airpippi_api.htpasswd;
{% endif %}
		proxy_pass http://localhost:{{ airpippi_api_port | default(8000) }}/;
	}
}